<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style='background: #fff;font-family: Arial, sans-serif;font-size: 11pt;'>
<p>Beste meneer/mevrouw,</p>

<p>
    U heeft op ons LITTIL platform contact gezocht met een andere persoon voor een gastles.
    De volgende melding heeft u met deze persoon gedeeld:
</p>
<p>
    {contactMessage}
</p>

<p>
    <b>Contact gegevens: {contactMedium}</b>
</p>

<p>Met vriendelijke groet,</p>
<p>Littil</p>
<p>Heeft u vragen naar aanleiding van deze mail, neem dan contact op met info@littil.org</p>
</body>
</html>