<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style='background: #fff;font-family: Arial, sans-serif;font-size: 11pt;'>
<p>De volgende feedback is ontvangen.</p>
<p>
    <b>Feedback Type: {feedbackType}</b>
</p>
<p>
    <b>Feedback: {message}</b>
</p>
</body>
</html>
