<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<head>
    <title>send verification code</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style='background: #fff;font-family: Arial, sans-serif;font-size: 11pt;'>
<p>Beste meneer, mevrouw,</p>

<p>Hierbij ontvangt U de verificatie code die nodig is voor het wijzigen van uw e-mailadres.</p>

<p>Uw verificatie code {token}</p>

<p>De code is {expiresInMinutes} minuten geldig.</p>

<p>Met vriendelijke groet,</p>

<p>LiTTil</p>

<p>Heeft u vragen naar aanleiding van deze mail, neem dan contact op met info@littil.org</p>
</body>
</html>
